/* base rule */
* {
  box-sizing: border-box;
}

body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  background-color:#FDFFFC;
  margin:0;
  /* to avoid fixed nav */
  margin-top: 70px;  
}
/* End of Base rule */


/* Global  */
.container{
  width:90%;
  margin:auto;
  overflow:hidden;
}

.highlight {
  font-weight: 700;
  color: #FF9F1C; 
}

.active__section {
  background: #fcf300;
}

.active__li {
  color: #fcf300;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-left: 10px;
  color: lightslategray
}

li:hover {
  cursor: pointer;
  background: #333;
  transition: ease 0.4s all;
  color: #fff;
  padding: 1px;
}
/* End of Global  */


/* ---- Layout Rules ---- */
.main__hero {
  min-height: 60vh;
}

main {
  margin: 10vh 0 10vh 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  min-height: 80vh;
  width: 60%;
  margin-bottom: 8em;
}
/* ---- End of Layout Rules ---- */


/* Navbar Style */
.page__header {
  min-height:70px;
  background: #011627; 
  color: white;
  border-bottom: 3px solid orange;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}

.branding {
  float: left;
}

/* Nav List */
#nav__list {
  margin-top: 20px;
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
/* End of Navbar */


/* Main Hero */
.main__hero {
  text-align: center;
  background-color: #111;
  color: #fff;
}

.main__hero h1 {
  font-size:3em;
  padding-top:18vh;
}

.main__hero p {
  font-size: 1.3em;

}
/* End of Main Hero */


/* Sections Style */
section {
  border: 2px solid black;
  border-radius: 30px;
}

section h2 {
  border-bottom: 2px solid seagreen;
  font-size: 3em;
}

section:nth-child(even) {
  align-self: flex-end;
  margin-right: 15px;
}
/* End of Sections */


/* Footer Style*/
.page__footer {
  padding: 20px;
  margin-top: 20px;
  background: #111;
  color: white;
}
/* End of Footer */


/* Media Query */ 
@media(max-width: 768px){
  .branding, .nav__menu {
    float: none;
    text-align: center;
    width: 100%;
    font-size: 16px;
  }

  #nav__list {
    justify-content: center;
    padding-bottom: 15px;
    font-size: 16px;
  }

  .main__hero h1 {
    padding-top: 25vh;
    font-size: 2em;
  }

  .main__hero p {
    font-size: 1em;
  }

  section {
    width: 100%;
  }

  section:nth-child(even),  section:nth-child(odd) {
    align-self: center;
    margin-right: 20px;
  }
}
